/downloads
/cab-cache
/clutter-1.7.6
/clutter-install-stamp
/clutter-install
/cogl-install-stamp
/cogl-install
/clutter.msi
/clutter.wixobj
/clutter.wixpdb
/clutter.wxs
/cogl-1.7.4
/cogl-source-stamp
/clutter-source-stamp
/deps-build
/deps-install-stamp
/deps-install
/dosdevices
/drive_c
/system.reg
/user.reg
/userdef.reg
/.update-timestamp
/msi.dll
/fixprefix.exe
/test-result-?
