/downloads
/cab-cache
/clutter-1.7.14
/clutter-install-stamp
/clutter-install
/cogl-install-stamp
/cogl-install
/clutter-*.msi
/clutter.wixobj
/clutter-*.wixpdb
/clutter.wxs
/cogl-1.7.8
/cogl-source-stamp
/clutter-source-stamp
/deps-build
/deps-install-stamp
/deps-install
/dosdevices
/drive_c
/system.reg
/user.reg
/userdef.reg
/.update-timestamp
/msi.dll
/fixprefix.exe
/test-result-?
/mx-1.3.1
/mx-install-stamp
/mx-install
/mx-source-stamp
